.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 50%;
  width: 50%;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 22px;
  font-color: rgb(65,73,101);
  letter-spacing: -1pt;
  text-align: center;

}
